<div class = 'container'>

    <!-- Header -->
    
    <div class='content'>
        <!-- Title -->
        <div class='title'>Submit a Rotation</div>
        <div class='box'>
          <form>
              <div class="form-group row">
                  <label for="mentor" class="col-sm-3 col-form-label">Detailed Description: </label>
                  <div class="col-sm-4">
                      <textarea class="form-control" style='width: 600px;height:100px'></textarea>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="mentor" class="col-sm-3 col-form-label">Additional Learning for Members: </label>
                  <div class="col-sm-3">
                      <textarea class="form-control" style='width: 600px;height:100px'></textarea>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="mentor" class="col-sm-3 col-form-label">Functional Capabilities: </label>
                  <div class="col-sm-3">
                      <textarea class="form-control" style='width: 600px;height:100px'></textarea>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="mentor" class="col-sm-3 col-form-label">Quantifiable Job Outcomes: </label>
                  <div class="col-sm-3">
                      <textarea class="form-control" style='width: 600px;height:100px'></textarea>
                  </div>
              </div>
          </form>
          <button style='float:right' type="button" class='btn btn-primary mycustombtn'>Submit</button>

        </div>

    </div>

  
</div>
